<link rel="stylesheet" href="/styles/footer.css">
    <body>
        <div class="footer">
            <% const yr = new Date()%>
            <p>&copy; Natnael Mesfin. <%=yr.getFullYear()%></p>
        </div>
    </body>