<link rel="stylesheet" href="styles/footer.css">
    <body>
        <div class="footer">
            <% const yr = new Date()%>
            <p>&copy; Copyright. <%=yr.getFullYear()%></p>
        </div>
    </body>