<link rel="stylesheet" href="/styles/header.css">
<body>
    <div class="nav-bar">
        <h3>Blog</h3>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/Blog">Blogs</a></li>
            <li>Contact</li>
        </ul>
    </div>
</body>