html, body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    flex: 1;
}

p{
    text-align: center;
}

form{
    margin: 50px;
    display: flex;
    flex-direction: column;
    margin-inline: 200px;
    gap: 10px;
}

input, textarea{
    border-radius: 10px;
    box-shadow:0px 0px 5px rgba(81, 81, 128, 0.7);
    padding: 10px;
    border: 0;
}

.postcontainer{
    display: flex;
    flex-direction: column;
}

.post{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    text-align: justify;
    height: auto;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
    border: 1px solid green;
    overflow-wrap: anywhere;
}

.buttons button{
    width: 70px;
    height: 35px;
    background-color: rgba(81, 81, 128, 0.7);
    border: 0px;
    border-radius: 20px;
    margin: 5px;
    color: whitesmoke;
}

.buttons button:hover{
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
    transition: all 0.2s ease-in-out
}