.footer{
    box-sizing: border-box;
    margin-top: auto;
    margin-bottom: 0px;
    background-color:rgb(81, 81, 128);
    padding: 30px;
    text-align: center;
    height: 100px;
    width: 100vw;
    color: white;
}